body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}


.scroll-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-button button {
    padding: 10px;
    cursor: pointer;
}

.responsive {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  position: relative;
}
#section-1 {
  background-color: #2d8df8;
}
a#scroll-btn {
  position: absolute;
  height: 10em;
  width: 6.25em;
  border: 0.5em solid #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6.25em;
  border-radius: 3em;
}
a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 1.2em;
  width: 1.2em;
  background-color: #ffffff;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}
a#scroll-btn:after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 12em;
  display: block;
  width: 12em;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 1.6em;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 600;
}
#section-2 {
  background-color: #111315;
  color: #ffffff;
  font-size: 2.7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
@media screen and (max-width: 500px) {
  a#scroll-btn {
    font-size: 12px;
  }
}